paint_dataset/
scenarios/
*.png
*.h5
tutorial/paint_dataset/
src/paint_benchmarks/
src/paint_benchmarks-old/
datasets/*
outputs/*
src/paint_files/*
logs/*
src/utils/__pycache__/*
src/artist_extensions/__pycache__/*
src/runtime_log.txt