paint_dataset/
scenarios/
*.png
*.h5
tutorial/paint_dataset/
src/paint_benchmarks/
src/paint_benchmarks-old/
paint_files/AA23/AA23-heliostat-properties.json
paint_files/AA24/AA24-heliostat-properties.json
paint_files/AA25/AA25-heliostat-properties.json
paint_files/AA26/AA26-heliostat-properties.json
paint_files/AA27/AA27-heliostat-properties.json
paint_files/AA28/AA28-heliostat-properties.json
paint_files/AA29/AA29-heliostat-properties.json
paint_files/AA30/AA30-heliostat-properties.json
paint_files/AA31/AA31-heliostat-properties.json
paint_files/AA32/AA32-heliostat-properties.json
paint_files/AA33/AA33-heliostat-properties.json
paint_files/AA34/AA34-heliostat-properties.json
paint_files/AA35/AA35-heliostat-properties.json
paint_files/AA36/AA36-heliostat-properties.json
paint_files/AA38/AA38-heliostat-properties.json
paint_files/AA39/AA39-heliostat-properties.json
paint_files/AA44/AA44-heliostat-properties.json
paint_files/AA49/AA49-heliostat-properties.json
paint_files/AA50/AA50-heliostat-properties.json
paint_files/AB26/AB26-heliostat-properties.json
paint_files/AB27/AB27-heliostat-properties.json
paint_files/AB29/AB29-heliostat-properties.json
paint_files/AB30/AB30-heliostat-properties.json
paint_files/AB32/AB32-heliostat-properties.json
paint_files/AB33/AB33-heliostat-properties.json
paint_files/AB34/AB34-heliostat-properties.json
paint_files/AB35/AB35-heliostat-properties.json
paint_files/AB36/AB36-heliostat-properties.json
paint_files/AB37/AB37-heliostat-properties.json
paint_files/AB38/AB38-heliostat-properties.json
paint_files/AB39/AB39-heliostat-properties.json
paint_files/AB40/AB40-heliostat-properties.json
paint_files/AB41/AB41-heliostat-properties.json
paint_files/AB42/AB42-heliostat-properties.json
paint_files/AB43/AB43-heliostat-properties.json
paint_files/AB44/AB44-heliostat-properties.json
paint_files/AB45/AB45-heliostat-properties.json
paint_files/AB46/AB46-heliostat-properties.json
paint_files/AB47/AB47-heliostat-properties.json
paint_files/AB50/AB50-heliostat-properties.json
paint_files/AC24/AC24-heliostat-properties.json
paint_files/AC25/AC25-heliostat-properties.json
paint_files/AC26/AC26-heliostat-properties.json
paint_files/AC27/AC27-heliostat-properties.json
paint_files/AC28/AC28-heliostat-properties.json
paint_files/AC29/AC29-heliostat-properties.json
paint_files/AC30/AC30-heliostat-properties.json
paint_files/AC31/AC31-heliostat-properties.json
paint_files/AC32/AC32-heliostat-properties.json
paint_files/AC33/AC33-heliostat-properties.json
paint_files/AC34/AC34-heliostat-properties.json
paint_files/AC35/AC35-heliostat-properties.json
paint_files/AC36/AC36-heliostat-properties.json
paint_files/AC37/AC37-heliostat-properties.json
paint_files/AC38/AC38-heliostat-properties.json
paint_files/AC39/AC39-heliostat-properties.json
paint_files/AC40/AC40-heliostat-properties.json
paint_files/AC41/AC41-heliostat-properties.json
paint_files/AC42/AC42-heliostat-properties.json
paint_files/AC43/AC43-heliostat-properties.json
paint_files/AC45/AC45-heliostat-properties.json
paint_files/AC47/AC47-heliostat-properties.json
paint_files/AC48/AC48-heliostat-properties.json
paint_files/AD29/AD29-heliostat-properties.json
paint_files/AD30/AD30-heliostat-properties.json
paint_files/AD31/AD31-heliostat-properties.json
paint_files/AD33/AD33-heliostat-properties.json
paint_files/AD34/AD34-heliostat-properties.json
paint_files/AD35/AD35-heliostat-properties.json
paint_files/AD36/AD36-heliostat-properties.json
paint_files/AD37/AD37-heliostat-properties.json
paint_files/AD39/AD39-heliostat-properties.json
paint_files/AD40/AD40-heliostat-properties.json
paint_files/AD42/AD42-heliostat-properties.json
paint_files/AD43/AD43-heliostat-properties.json
paint_files/AD44/AD44-heliostat-properties.json
paint_files/AD45/AD45-heliostat-properties.json
paint_files/AD46/AD46-heliostat-properties.json
paint_files/BA27/BA27-heliostat-properties.json
paint_files/BA28/BA28-heliostat-properties.json
paint_files/BA29/BA29-heliostat-properties.json
paint_files/BA35/BA35-heliostat-properties.json
paint_files/BA36/BA36-heliostat-properties.json
paint_files/BA37/BA37-heliostat-properties.json
paint_files/BA38/BA38-heliostat-properties.json
paint_files/BA39/BA39-heliostat-properties.json
paint_files/BA40/BA40-heliostat-properties.json
paint_files/BA41/BA41-heliostat-properties.json
paint_files/BA42/BA42-heliostat-properties.json
paint_files/BA43/BA43-heliostat-properties.json
paint_files/BA44/BA44-heliostat-properties.json
paint_files/BA61/BA61-heliostat-properties.json
paint_files/BA62/BA62-heliostat-properties.json
paint_files/BA63/BA63-heliostat-properties.json
paint_files/BA65/BA65-heliostat-properties.json
paint_files/BA66/BA66-heliostat-properties.json
paint_files/BA69/BA69-heliostat-properties.json
paint_files/BA70/BA70-heliostat-properties.json
paint_files/BA71/BA71-heliostat-properties.json
paint_files/BA72/BA72-heliostat-properties.json
paint_files/BA73/BA73-heliostat-properties.json
paint_files/BB21/BB21-heliostat-properties.json
paint_files/BB28/BB28-heliostat-properties.json
paint_files/BB29/BB29-heliostat-properties.json
paint_files/BB30/BB30-heliostat-properties.json
paint_files/BB37/BB37-heliostat-properties.json
paint_files/BB39/BB39-heliostat-properties.json
paint_files/BB40/BB40-heliostat-properties.json
paint_files/BB71/BB71-heliostat-properties.json
paint_files/BB72/BB72-heliostat-properties.json
paint_files/BC17/BC17-heliostat-properties.json
paint_files/BC19/BC19-heliostat-properties.json
paint_files/BC28/BC28-heliostat-properties.json
paint_files/BC32/BC32-heliostat-properties.json
paint_files/BC33/BC33-heliostat-properties.json
paint_files/BC34/BC34-heliostat-properties.json
paint_files/BC35/BC35-heliostat-properties.json
paint_files/BC60/BC60-heliostat-properties.json
paint_files/BC61/BC61-heliostat-properties.json
paint_files/BC62/BC62-heliostat-properties.json
paint_files/BC63/BC63-heliostat-properties.json
paint_files/BC64/BC64-heliostat-properties.json
paint_files/BC66/BC66-heliostat-properties.json
paint_files/BC71/BC71-heliostat-properties.json
paint_files/BD28/BD28-heliostat-properties.json
paint_files/BD30/BD30-heliostat-properties.json
paint_files/BD31/BD31-heliostat-properties.json
paint_files/BD32/BD32-heliostat-properties.json
paint_files/BD34/BD34-heliostat-properties.json
paint_files/BD35/BD35-heliostat-properties.json
paint_files/BD36/BD36-heliostat-properties.json
paint_files/BD37/BD37-heliostat-properties.json
paint_files/BD38/BD38-heliostat-properties.json
paint_files/BD39/BD39-heliostat-properties.json
paint_files/BD40/BD40-heliostat-properties.json
paint_files/BD72/BD72-heliostat-properties.json
paint_files/BD73/BD73-heliostat-properties.json
paint_files/WRI1030197-tower-measurements.json
src/paint_benchmarks.zip
